@import "./global.scss";

@font-face {
  font-family: Rodchenko;
  src: url("../assets/fonts/Airport.otf");
  font-weight: 800;
}

@font-face {
  font-family: Pt;
  src: url("../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Pt;
  src: url("../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Pt;
  src: url("../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.page {
  &__title {
    &-text {
      width: 100%;
      text-align: center;
      font-size: 60px;
      color: #d00000;
      @include adaptiv("small-pc") {
        font-size: 50px;
      }
      @include adaptiv("table") {
        font-size: 30px;
      }
    }
  }
  &__line {
    background-color: #d00000;
    height: 10px;
    border: none;
    @include adaptiv("table") {
      height: 5px;
      margin-top: 5px;
    }
  }
  &__card {
    height: 90vh;
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 1%;
    @include adaptiv("small-pc") {
      margin-top: 20px;
      @include flex(column, 0, center);
      flex-wrap: nowrap;
      gap: 2%;
    }
    &_img {
      &-box {
        width: 30%;
        @include adaptiv("small-pc") {
          width: 40%;
        }
        @include adaptiv("mobile") {
          width: 70%;
        }
      }
      &-photo {
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }
    &__map {
      width: 30%;
      height: 60%;
      @include adaptiv("small-pc") {
        width: 90%;
        height: 35%;
      }
      @include adaptiv("mobile") {
        width: 70%;
      }
    }
    &__text {
      width: 50%;
      &-paragraph {
        text-align: center;
        font-family: Montserrat;
        font-weight: 800;
      }
    }
  }
}

.arrowBack {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.4s ease-in-out;
  @include adaptiv("table") {
    top: 10px;
  }
  &:hover {
    transform: translate(-10px);
  }
  img {
    width: 25px;
    height: 25px;
    @include adaptiv("table") {
      width: 15px;
      height: 15px;
    }
  }
}

.activeLoading {
  @include flex(row, center, center);
}

@keyframes loading-complete-animation {
  0% {
    opacity: 1;
    @include flex(row, center, center);
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.loadingComplete {
  animation: loading-complete-animation 0.7s ease-in-out;
  display: none;
}

.loading {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  &__circle {
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    animation: loading-animation 0.7s ease-in-out infinite;
  }
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: #d00000;
}

.second,
.third {
  background-color: #fff;
}
