* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pt;
  font-weight: 800;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Pt;
  src: url("../../../assets/fonts/PTSans-Bold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../../../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}
.blocktonext {
  padding: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.blocktonext__firstblock {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.blocktonext__secondblock {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.blocktonext__card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  width: 70%;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.blocktonext__card-photo {
  width: 25px;
  height: 25px;
}
.blocktonext__cardsecond {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.reverse {
  transform: rotate(180deg);
}

.page__title-text {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: #d00000;
}
@media (max-width: 1080px) {
  .page__title-text {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .page__title-text {
    font-size: 30px;
  }
}
.page__line {
  background-color: #d00000;
  height: 10px;
  border: none;
}
@media (max-width: 768px) {
  .page__line {
    height: 5px;
    margin-top: 5px;
  }
}
.page__card {
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}
@media (max-width: 1080px) {
  .page__card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2%;
  }
}
.page__card_img-box {
  width: 30%;
}
@media (max-width: 1080px) {
  .page__card_img-box {
    width: 40%;
  }
}
@media (max-width: 467px) {
  .page__card_img-box {
    width: 70%;
  }
}
.page__card_img-photo {
  box-shadow: 0px 4px 9.9px -5px rgba(0, 0, 0, 0.2509803922);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.page__card__map {
  width: 30%;
  height: 60%;
}
@media (max-width: 1080px) {
  .page__card__map {
    width: 90%;
    height: 35%;
  }
}
@media (max-width: 467px) {
  .page__card__map {
    width: 70%;
  }
}
.page__card__text {
  width: 50%;
}
.page__card__text-paragraph {
  text-align: center;
  font-family: Montserrat;
  font-weight: 800;
}

.arrowBack {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .arrowBack {
    top: 10px;
  }
}
.arrowBack:hover {
  transform: translate(-10px);
}
.arrowBack img {
  width: 25px;
  height: 25px;
}
@media (max-width: 768px) {
  .arrowBack img {
    width: 15px;
    height: 15px;
  }
}

.activeLoading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes loading-complete-animation {
  0% {
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.loadingComplete {
  animation: loading-complete-animation 0.7s ease-in-out;
  display: none;
}

.loading {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.loading__circle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  animation: loading-animation 0.7s ease-in-out infinite;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cube {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.first,
.four {
  background-color: #d00000;
}

.second,
.third {
  background-color: #fff;
}